<h2>
    Terms and Conditions
</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper congue rutrum. Maecenas id felis magna.
    Nunc eleifend sagittis est, ac luctus est blandit non. Pellentesque ac maximus nisi, quis suscipit odio. Suspendisse
    varius purus nibh, tristique gravida magna rhoncus ac. Donec sit amet neque nisi. Nulla non suscipit augue.
    In blandit purus risus, id dictum orci euismod a. Vivamus egestas orci ipsum, in egestas est tempus vitae.
    Phasellus sit amet lorem iaculis, finibus massa ut, eleifend arcu. Cras in erat id ligula tempor ornare.
    Curabitur eleifend ac est sit amet pulvinar. Aenean ac elementum turpis. Donec porta dui non leo auctor laoreet.
    Vestibulum aliquet maximus justo ac hendrerit. Cras vestibulum lacus vel felis pulvinar pulvinar.
</p>

<p>
    Vestibulum ex mauris, placerat quis ipsum et, egestas feugiat eros. Fusce dignissim pellentesque risus, non
    efficitur nibh cursus id. Quisque eget eleifend purus, ut malesuada nisl. Nam feugiat massa eget libero ornare
    cursus. Proin eros ex, suscipit ac velit et, aliquet facilisis libero. Mauris accumsan maximus porta. Fusce sit amet
    nunc eu ex venenatis ultrices eget vel ligula. Phasellus gravida tincidunt nisi, at faucibus lorem placerat non.
    Mauris congue ultrices nunc, eu facilisis orci tincidunt a. Aenean sit amet pellentesque leo. Sed sit amet velit
    vitae lacus aliquam placerat sed nec nunc. In euismod sit amet enim vel ultricies. Nulla varius porttitor auctor.
    Sed egestas faucibus velit eu tincidunt. Fusce at interdum nunc.
</p>

<p>
    Vestibulum sit amet augue orci. Nulla sagittis pharetra arcu, ac tincidunt quam. Ut vestibulum nec lacus quis
    sollicitudin. Duis nulla erat, vulputate vitae rutrum vitae, ornare eget metus. Proin condimentum odio dui,
    ullamcorper commodo sapien luctus quis. Vestibulum aliquet tincidunt arcu at viverra. Sed consectetur leo id tortor
    facilisis, sit amet vestibulum nunc tempus. Donec ut fermentum massa. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Praesent elementum ex consequat nisi sollicitudin congue. Nullam non ligula tortor. Ut rutrum
    facilisis eros commodo auctor. Aliquam gravida urna neque, eu ullamcorper est mattis id. Ut consequat mattis
    scelerisque.
</p>

<p>
    Vivamus vestibulum purus nec pretium aliquam. Proin consectetur egestas massa, non fermentum purus ullamcorper in.
    Cras sagittis enim magna. Donec auctor magna vitae mauris rhoncus, eget ornare augue porttitor. Sed vel tellus at
    risus viverra congue. Praesent vel vehicula enim. Nulla sagittis, ligula consectetur pharetra sagittis, turpis purus
    egestas nisl, eu finibus lectus velit sed tellus. Nam posuere aliquet nisi at interdum. Praesent velit nulla,
    lobortis luctus auctor at, venenatis et diam.
</p>

<p>
    Aenean tristique vulputate elit non auctor. Praesent pretium dui lacus, nec eleifend ipsum porttitor in. Vestibulum
    commodo orci at nunc facilisis ultricies. Donec nisi sem, imperdiet nec porta id, sodales sit amet dolor. Class
    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec sed blandit quam, vel
    congue neque. Mauris luctus odio sed turpis sodales, nec tristique libero imperdiet. Curabitur felis nisl, porta ac
    ante eget, vehicula gravida ipsum. Nulla sagittis non nisl et sodales. Praesent ultrices enim in orci iaculis, quis
    mollis turpis varius.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper congue rutrum. Maecenas id felis magna.
    Nunc eleifend sagittis est, ac luctus est blandit non. Pellentesque ac maximus nisi, quis suscipit odio. Suspendisse
    varius purus nibh, tristique gravida magna rhoncus ac. Donec sit amet neque nisi. Nulla non suscipit augue.
    In blandit purus risus, id dictum orci euismod a. Vivamus egestas orci ipsum, in egestas est tempus vitae.
    Phasellus sit amet lorem iaculis, finibus massa ut, eleifend arcu. Cras in erat id ligula tempor ornare.
    Curabitur eleifend ac est sit amet pulvinar. Aenean ac elementum turpis. Donec porta dui non leo auctor laoreet.
    Vestibulum aliquet maximus justo ac hendrerit. Cras vestibulum lacus vel felis pulvinar pulvinar.
</p>

<p>
    Vestibulum ex mauris, placerat quis ipsum et, egestas feugiat eros. Fusce dignissim pellentesque risus, non
    efficitur nibh cursus id. Quisque eget eleifend purus, ut malesuada nisl. Nam feugiat massa eget libero ornare
    cursus. Proin eros ex, suscipit ac velit et, aliquet facilisis libero. Mauris accumsan maximus porta. Fusce sit amet
    nunc eu ex venenatis ultrices eget vel ligula. Phasellus gravida tincidunt nisi, at faucibus lorem placerat non.
    Mauris congue ultrices nunc, eu facilisis orci tincidunt a. Aenean sit amet pellentesque leo. Sed sit amet velit
    vitae lacus aliquam placerat sed nec nunc. In euismod sit amet enim vel ultricies. Nulla varius porttitor auctor.
    Sed egestas faucibus velit eu tincidunt. Fusce at interdum nunc.
</p>

<p>
    Vestibulum sit amet augue orci. Nulla sagittis pharetra arcu, ac tincidunt quam. Ut vestibulum nec lacus quis
    sollicitudin. Duis nulla erat, vulputate vitae rutrum vitae, ornare eget metus. Proin condimentum odio dui,
    ullamcorper commodo sapien luctus quis. Vestibulum aliquet tincidunt arcu at viverra. Sed consectetur leo id tortor
    facilisis, sit amet vestibulum nunc tempus. Donec ut fermentum massa. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Praesent elementum ex consequat nisi sollicitudin congue. Nullam non ligula tortor. Ut rutrum
    facilisis eros commodo auctor. Aliquam gravida urna neque, eu ullamcorper est mattis id. Ut consequat mattis
    scelerisque.
</p>

<p>
    Vivamus vestibulum purus nec pretium aliquam. Proin consectetur egestas massa, non fermentum purus ullamcorper in.
    Cras sagittis enim magna. Donec auctor magna vitae mauris rhoncus, eget ornare augue porttitor. Sed vel tellus at
    risus viverra congue. Praesent vel vehicula enim. Nulla sagittis, ligula consectetur pharetra sagittis, turpis purus
    egestas nisl, eu finibus lectus velit sed tellus. Nam posuere aliquet nisi at interdum. Praesent velit nulla,
    lobortis luctus auctor at, venenatis et diam.
</p>

<p>
    Aenean tristique vulputate elit non auctor. Praesent pretium dui lacus, nec eleifend ipsum porttitor in. Vestibulum
    commodo orci at nunc facilisis ultricies. Donec nisi sem, imperdiet nec porta id, sodales sit amet dolor. Class
    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec sed blandit quam, vel
    congue neque. Mauris luctus odio sed turpis sodales, nec tristique libero imperdiet. Curabitur felis nisl, porta ac
    ante eget, vehicula gravida ipsum. Nulla sagittis non nisl et sodales. Praesent ultrices enim in orci iaculis, quis
    mollis turpis varius.
</p>

<button class="btn btn-default" ng-click="scrollToTop('TOC'); $parent.hideToC = true; $parent.tocInput = true;">
    <i class="fa fa-arrow-up fa-fw"></i>
    Back to Top
</button>
