.clothingItem {
  margin-bottom: 2em;

  .clothingItem-img {
    position: relative;

    img {
      height: 150px;
      width: 150px;
      background: #D3D3D3;
    }

    .clothingItem-labels {
      bottom: 1em;
      left: 1em;
      position: absolute;
      right: 1em;
    }
  }

  .clothingItem-details {
    background: $color-white;
    padding-top: 1em;
  }

  .clothingItem-cta {
    .btn {
      border-radius: 0;
    }
  }
}
