<div id="main-menu" class="navbar navbar-inverted navbar-fixed-top" role="navigation">
  <label class="pull-right" id="side-menu-button" for="side-menu-toggle">

    <div id="side-menu-icon text-white" class="">
      <!--<i id="side-menu-icon-marka" class=""></i>-->
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="anim-fade anim-scale fa fa-stack-1x fa-reorder"></i>
        </span>
    </div>
  </label>

  <!--<a id="back-btn" class="btn btn-default btn-sm" ng-click="goUp()"><i class="fa fa-chevron-left fa-fw"></i></a>-->

  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home" style="position: relative; width: 80px">
        <!--Armoire-->
        <!--<img src="/image/logos/Armoire-Light.png" height="80%" class="css-center">-->
        <img src="/images/Armoire-white.png" height="100%" class="">
      </a>
    </div>
  </div>
</div>
